*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 20px;
    background-color: rgb(255, 255, 255);
    line-height: 20pt;
    color: #EE7F71ff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header, footer{
    margin-bottom: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


